In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data_path = f'{os.getcwd()}\\names\\'

In [ ]:
#task 1
names_by_year_t1 = {}
for year in range(1900, 2001):
    names_by_year_t1[year] = pd.read_csv('{}/yob{}.txt'.format(data_path, year),
                                      names=['Name','Gender','Count']
                                      )
names_all_t1 = pd.concat(names_by_year_t1, names=['Year'])

In [ ]:
names_sum_t1 = names_all_t1.groupby([names_all_t1.index.get_level_values(0), 'Name']).sum()

In [ ]:
names_sum_t1.query('Name == ["Ruth", "Robert"]').unstack('Name').plot()

In [ ]:
#task 2
names_by_year_t2 = {}
for year in range(1900, 2001, 5):
    names_by_year_t2[year] = pd.read_csv('{}/yob{}.txt'.format(data_path, year),
                                      names=['Name','Gender','Count']
                                      )

In [ ]:
names_all_t2 = pd.concat(names_by_year_t2, names=['Year'])

In [ ]:
names_sum_t2 = names_all_t2.groupby('Year').sum()

In [ ]:
names_sum_t2.plot.bar()

In [ ]:
#task 3
names_1950 = pd.read_csv(data_path + '/yob1950.txt', names=['Name','Gender','Count'])
names_1950

In [ ]:
names_1950_R = names_1950[(names_1950.Name.str.startswith('R'))].groupby('Name').sum().sort_values(by='Count', ascending=False)\
names_1950_R.head(10)

In [ ]:
names_1950_R.plot.pie(y='Count')

In [ ]:
#task 4