In [1]:
import pandas as pd
import os

In [5]:
data_path = 'C:/Users/sasch/PycharmProjects/hw_8/names/'

In [6]:
#task 1
def calculate_top_3(years):
    names_list = []
    cols = ['Name', 'Gender', 'Count']
    for i in years:
        i = pd.read_csv(data_path + 'yob' + str(i) + '.txt', names=cols)
        names_list.append(i)
    names_all = pd.concat(names_list)
    names_groups = names_all.groupby('Name').sum()
    return names_groups.sort_values(by='Count', ascending=False).head(3)

In [7]:
calculate_top_3([1880])

         Count
Name
John      9701
William   9562
Mary      7092

In [8]:
calculate_top_3([1900, 1950, 2000])

         Count
Name
James   111795
John    109595
Robert  101381

In [11]:
#task 2
def get_number_by_gender(years):
    names_list = []
    cols = ['Name', 'Gender', 'Count']
    for i in years:
        i = pd.read_csv(data_path + 'yob' + str(i) + '.txt', names=cols)
        names_list.append(i)
    names_by_gender = dict()
    Male = []
    Female = []
    for i in names_list:
        Male.append(i[i.Gender == 'M'].Count.sum())
        Female.append(i[i.Gender == 'F'].Count.sum())
        names_by_gender["M"] = Male
        names_by_gender['F'] = Female
    return names_by_gender

In [12]:
get_number_by_gender([1900, 1950, 2000])

{'F': [299810, 1713259, 1814922], 'M': [150486, 1790871, 1962744]}